.element {
  border: 10px ridge rgba(204, 4, 64, 1);
  border-radius: 0px;
  background-color: rgba(255, 0, 0, 0.57);
}

body {
background-image: url(https://github.com/Xoltron/xoltron.github.io/blob/main/images/entering-xoltswebsite.jpg?raw=true);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-color: #AFAFAF
}

.text {
  font: normal normal 16px/1.2 "proxima-nova";
  color: #9600FF;
  letter-spacing: 0px;
}

h1 {
  background-color: rgb(204, 51, 0, 0.60)
  border: 5px solid red;
}

h2 {
  background-color: rgb(204, 51, 0, 0.60)
  border: 8px ridge rgba(181, 0, 222, 1);
}

div {
  background-color: rgb(204, 51, 0, 0.60)
  border: 3px double rgba(204, 4, 154, 1);
}
